@import url("Global.css");

.cta {
  background-image: url("../static/bg-cta.svg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.cta__container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1260px;
}

.cta__box {
  background: linear-gradient(
    106.04deg,
    rgba(255, 255, 255, 0.7) 0.76%,
    rgba(255, 255, 255, 0) 121.53%
  );
  filter: drop-shadow(0px 0px 29px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(24px);
  border-radius: 21.16px;
}

.cta__box-container {
  margin: 64px 133px;
  width: 100%;
  max-width: 660px;
  color: var(--dark);
  text-align: center;
}

.cta__title {
  font-family: "Inter";
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  margin-bottom: 11px;
}

.cta__subtitle {
  font-family: "Roboto";
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 32px;
}

.cta__button {
  background-color: var(--alert);
  border-radius: 12px;
  padding: 16px 24px;
  color: var(--lighting);
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  outline: none;
  border: none;
}

@media (min-width: 768px) {
  .cta__container {
    margin: 274px auto 267px;
  }
}
